# Application
PORT=3000
NODE_ENV=development

# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=pastor_tracking

# JWT
JWT_SECRET=pastor_jwt_secret_2026

# CORS
FRONTEND_URL=http://localhost:3001
